{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">Seznam dodavatelů</h1>
        <div class="list-group">
            {% for dodavatel in dodavatele %}
            <div class="item">
                <div class="info">
                    <h5> <a href="{% url 'sklad:dodavatele_detail' dodavatel.pk %}" > {{ dodavatel.nazev_dodavatele }} </a></h5>
                </div>
                <div class="logo">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
