{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ objednavky.id }}</h1>
        <p><strong>Datum objednavky:</strong> {{ objednavky.datum_objednavky }}</p>
        <p><strong>Celková cena:</strong> {{ objednavky.cena_objednavky }} Kč</p>
        <p><strong>Datum dopravy:</strong> {{ objednavky.datum_dopravy }} Kč</p>
        <p><strong>Dopravce:</strong> {{ objednavky.doprava_id_dopravce }} Kč</p>
        <p><strong>Zákazník:</strong> {{ objednavky.zakaznici_id_zakaznik }}</p>
    </div>
{% endblock %}
