{% extends 'base.html' %}

    {% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">Detail zákazníka</h1>
        <div>
            <p><strong>Jméno:</strong> {{ zakaznici.jmeno_zakaznik }}</p>
            <p><strong>Příjmení:</strong> {{ zakaznici.prijmeni_zakaznik }}</p>
            <p><strong>Email:</strong> {{ zakaznici.email_zakaznik }}</p>
            <p><strong>Telefon:</strong> {{ zakaznici.telefon_zakaznik }}</p>
            <p><strong>Země:</strong> {{ zakaznici.zeme_zakaznik }}</p>
            <p><strong>Město:</strong> {{ zakaznici.mesto_zakaznik }}</p>
            <p><strong>Ulice:</strong> {{ zakaznici.ulice_zakaznik }}</p>
            <p><strong>Psč:</strong> {{ zakaznici.psc_zakaznik }}</p>
        </div>
    </div>
   {% endblock %}