{% extends 'base.html' %}

{% block content %}
 <div class="row">
        <div class="col-12 text-center bg-info mt-3 mb-3 box-rounded">
            <h2 class="text-white p-3">Vítejte na Naší Stránce</h2>
        </div>
     <div class="col-lg-3 col-md-6 text-center">
        <h2>O nás</h2>
        <p>
            Vítáme vás na naší stránce. Tato aplikace umožňuje spravovat dodavatele, zákazníky, dopravu, objednávky, výrobky a položky objednávek. Klikněte na odkazy výše pro více informací.
        </p>
    </div>


    </div>
{% endblock %}

